datasets==3.6.0
evaluate==0.4.3
g2p_en==2.1.0
gradio==5.43.1
huggingface_hub==0.32.3
jiwer==4.0.0
librosa==0.10.2.post1
matplotlib==3.10.5
nltk==3.9.1
numpy==2.2.26
pandas==2.3.1
Pyphen==0.17.2
scipy==1.16.1
seaborn==0.13.2
soundfile==0.13.1
stanza==1.10.1
torch==2.1.1+cu118
tqdm==4.67.1
transformers==4.44.0
webrtcvad==2.0.10
whisper==1.1.10
whisperx==3.4.2
